.container {
    width: 45px;
    height: 45px;
    position: fixed;
    top: 18px;
    right: 18px;
    z-index: 2;
    background: #12c1ea;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.iconContainer {
    cursor: pointer;
}

.loginButton {
    font-size: 1em;
    margin: 10px 10px 0 0;
    padding: 5px;
    background-color: grey;
    color: white;
}