.container {
    height: 100%;
}

.fullscreenContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    /* pointer-events: none; */
}

.video {
    top: 50%;
}

.clickArea {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}