.inputContainer {
  position: absolute;
  margin: auto;
  width: 100%;
}

.title {
  display: block;
  background: rgba(0, 0, 0, 0);
  color: gray;
  font-size: 1em;
  font-weight: normal;
  border: none;
  width: 50%;
  margin: auto;
  text-align: center;
  outline: none;
  font-family: "Nunito", sans-serif;
}

.description {
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  display: block;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 1em;
  background: rgba(0, 0, 0, 0);
  color: gray;
  border: none;
  outline: none;
  resize: none;
}