.container {
    display: flex;
    /* flex: 2 1 auto; */
    min-width: 300px;
    height: 150px;
    position: relative;
    background: white;
    border-radius: 0px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    max-width: 320px;
}

.block {
    display: inline-block;
}

.left {
    width: 70%;
}

.edit {
    position: absolute;
    bottom: 11px;
    right: 30px;
}

.delete {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.right {
    width: 30%;
    margin-left: 20px;
}

.image {
    width: 80%;
    /* max-width: 100px; */
    padding-top: 80%;
    background: #DDD;
    border-radius: 50%;
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.title {
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 20px;
    padding: 0 10px;
    max-height: 2.4em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text {
    font-size: 0.8em;
    margin: 0;
    margin-left: 10px;
}

.petalContainer {
    /* right: 0;
    bottom: 0px;
    position: absolute; */
    padding: 0 10px;
    font-size: 0.8em;
    margin: 15px 0 5px 0;
    display: table;
}

.date {
    padding-left: 5px;
    font-size: 0.8em;
    color : grey;
}

.bottomContainer {
    /* position: absolute; */
    /* bottom: 0; */
    /* width: 20px; */
    display: flex;
    padding: 20px 10px;
}

.username {
    font-size: 0.8em;
}

.views {
    font-size: 0.8em;
    padding-left: 5px;
    margin-left:auto; 
    margin-right:0;
}