.container {
  display: flex;
  width: 291px;
  height: 280px;
  position: relative;
  background: white;
  border-radius: 0px;
  /* max-width: 250px; */
  flex-direction: column;
  margin-bottom: 2em;
  will-change: width;
}

.block {
  display: inline-block;
}

.left {
  width: 70%;
}

.edit {
  position: absolute;
  bottom: 11px;
  right: 30px;
}

.delete {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.right {
  width: 62%;
  /* margin: 0 auto; */
  margin-bottom: 1em;
}

.image {
  width: 80%;
  /* max-width: 100px; */
  padding-top: 80%;
  background: #ddd;
  border-radius: 50%;
  background-size: 180%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.title {
  font-family: "Sarabun", sans-serif;
  font-size: 1em;
  margin-top: 20px;
  padding: 0 5px;
  height: 2.7em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.petalContainer {
  padding: 0 10px;
  font-size: 0.8em;
  margin: 5px 0 5px 0;
  display: table;
}

.middleContainer {
  display: flex;
  padding: 5px 10px 0px 0px;
}

.bottomContainer {
  display: flex;
  padding: 8px 5px;
}

.middleContainerText {
  font-size: 0.9em;
  color: 00122a;
}

.bottomContainerText {
  font-size: 0.79em;
}

.itemPadding {
  padding-left: 5px;
}

.icon {
  width: 15px;
  height: 15px;
  vertical-align: bottom;
  color: red;
}

.viewsText {
  display: inline-block;
  color: #242843;
}

.date {
  font-size: 0.79em;
  color: #242843;
}

/* Changes */
@media (max-width: 440px) {
  .container {
    flex-direction: row;
    height: 120px;
    width: 240px;
  }

  .image {
    transform: translateY(10%);
  }
}

@media (max-width: 896px) {
  .container {
    width: 200px;
  }
}

.barStyle {
  width: 290px;
  align-items: center !important;
  margin-left: 3px;
}

.Barcontainer {
  flex-direction: row;
  height: 120px;
  width: 288px;
}

.Barcontainer .image {
  transform: translateY(10%);
}