.container {
    display: flex;
    max-width: 500px;
    min-width: 300px;
    margin: 30px auto;
    position: relative;
}

.block {
    display: inline-block;
    padding: 0 15px;
}

.left {
    width: 75%;
}

.edit {
    position: absolute;
    top: 0;
    right: 20px;
}

.delete {
    position: absolute;
    top: 0;
    right: 0;
}

.right {
    width: 25%;
    margin-left: 20px;
}

.image {
    min-width: 100%;
    padding-top: 100%;
    background: #DDD;
    border-radius: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
}

.text {
    font-size: 0.8em;
    margin: 0;
    margin-left: 10px;
}

.date {
    right: 0;
    bottom: 0px;
    position: absolute;
    font-size: 0.8em;
    margin: 0 15px;
}

.user {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}

.username {
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 0.5em;
}