.container {
  background: #f5f7fb;
  width: 100%;
  top: 0;
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  min-height: 100%;
}

.linkContainer {
  flex-grow: 1;
  flex-basis: 100px;
  min-width: 300px;
  max-width: 450px;
}

.search {
  position: "relative";
  width: "100%";
}

.searchIcon {
  height: "100%";
  position: "absolute";
  pointer-events: "none";
  display: "flex";
  align-items: "center";
  justify-content: "center";
}

.inputRoot {
  color: "inherit";
}

.inputInput {
  width: "100%";
}

.content {
  margin-top: 100px;
  /* padding: 10px; */
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-around;
  min-height: 100%;
  margin-bottom: 100px;
  /* text-align: center; */
}

.topGradient {
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100px;
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 35%);
}

.bottomGradient {
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100px;
  bottom: -2px;
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 1) 55%,
      rgba(255, 255, 255, 0) 100%);
}

.gridRoot {
  padding-top: 60px;
}

@media (max-width:460px) {
  .gridRoot {
    justify-content: center !important;
    padding-top: 0;
  }

  .gridItem div {
    align-items: center;

  }
}

@media (min-width:650px) {
  .gridItem:nth-child(3n+1) div {
    align-items: flex-start;
  }

  .gridItem:nth-child(3n+2) div {
    align-items: center;
  }


  .gridItem:nth-child(3n+3) div {
    align-items: flex-end;
  }
}

@media (max-width:900px) and (min-width:460px) {
  .gridRoot {
    justify-content: space-between;
  }
}

@media (max-width:650px) {
  .gridItem:nth-child(2n+2) div {
    align-items: flex-end;
  }

}


@media (max-width:572px) {
  /* .gridItem div {
    align-items: center;
  } */
}

/* .header {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    text-align: center;
}    */