.container {
    position: relative;
    overflow: hidden;
}

.renderContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: transform 200ms ease-out;
    will-change: transform;
}

.outerClickContainer {
    width: 100%;
    height: 100%;
    position: absolute;
}

.editPetal {
    position: absolute;
    bottom: 33px;
    right: 125px;
    cursor: pointer;
}

.deletePetal {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    right: 85px;
    cursor: pointer;
}

.metaContainer {
    height: 100%;
    pointer-events: none;
}

.seedInfo {
    position: absolute;
    top: 25px;
    left: 25px;
    pointer-events: none;
}

.petalInfo {
    position: absolute;
    bottom: 25px;
    left: 25px;
    pointer-events: none;
}

@media (max-width:600px) {
    .seedInfo {
      left: 15px;
      top: 15px;
    }
    
    .petalInfo {
        left: 15px;
    }
  }