.container {
    position: relative;
    z-index: 1;
    width: 100%;
    background: white;
    top: 0;
    height: 100vh;
    overflow: hidden;
    box-shadow: -19px 0 38px rgba(0,0,0,0.10);
}

.navigation {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.settings {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

.subtitle {
    margin-top: 0px;
    font-size: 0.8em;
    text-align: center;
}

.edit {
    position: absolute;
    z-index: 2;
    bottom: 33px;
    right: 120px;
    cursor: pointer;
}

.delete {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    right: 80px;
    cursor: pointer;
}