.innerContainer {
  box-shadow: inset 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: white;
  overflow: scroll;
  position: fixed;
}

.colorContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: opacity 300ms ease-out;
}

.mainColor {
  background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
}