.line {
    stroke: red;
    stroke-width: 5px;
}

.roundSVG {
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    pointer-events: none;
}

.controls {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    pointer-events: none;
}

.timeline {
    stroke-dasharray: 0 1px;
    fill: none;
    stroke-width: 3px;
    transition: stroke-width 100ms ease-out;
}

.timelineBackground {
    fill: none;
    stroke-width: 0px;
    stroke: black;
    opacity: 0.5;
}

.timelineClickArea {
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    border-radius: 50%;
    transform-origin: 50% 50%;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.time {
    position: absolute;
    top: 0;
    transform-origin: 50% 50%;
    color: white;
    font-size: 1.1em;
    user-select: none;
    text-align: center;
    pointer-events: auto;
    /* pointer-events: none; */
}

/* .fullscreen {
    height: 50px;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
}

.rangeInput {
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
}

.fullscreen:hover > .rangeInput::-webkit-slider-thumb {
    transform: scaleY(0.5);
}

.fullscreen:hover > .rangeInput::-webkit-slider-runnable-track {
    transform: scaleY(2);
}

.rangeInput:focus {
    outline: none;
}

.rangeInput::-moz-range-track {
    width: 100%;
    border-radius: 50%;
}

.rangeInput::-ms-track {
    width: 100%;
    border-radius: 50%;
}

.rangeInput::-webkit-slider-runnable-track {
    width: 100%;
    border-radius: 10px;
    height: 5px;
    background: red;
    cursor: pointer;
}

.rangeInput::-moz-range-thumb {
    border-radius: 3px;
    cursor: pointer;
    background: red;
}

.rangeInput::-ms-thumb {
    border-radius: 3px;
    cursor: pointer;
    background: red;
}

.rangeInput::-webkit-slider-thumb {
    border-radius: 3px;
    -webkit-appearance: none;
    background: red;
    margin-top: -5px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    border: solid black 1px;
} */