.container {
    height: 100%;
}

.fullscreenContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}

.video {
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}