.container {
    position: absolute;
    top: 0;
    left: 0;
}

.icon {
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0;
    animation: transitionIn 500ms ease-out forwards;
}

.icon > svg {
    transform: scale(1);
    transition: transform 200ms ease-out;
}

.icon:hover > svg {
    transform: scale(1.2);
    transition: transform 200ms ease-out;
}

.icon:active > svg {
    transform: scale(0.9);
    transition: transform 100ms ease-out;
}

@keyframes transitionIn {
    from { opacity: 0; }
    to { opacity: 1; }
}