.backgroundContainer {
    background-image: url('/images/bg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}


.container {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(7, 10, 31, 0.3);
}

.icon {
    width: 100px;
    height: 100px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius:50%;
    border: 1px solid black;
}

.form {
    display: inline-block;
    width: 100%;
}

.input {
    width: 100%;
}

.submit {
    width: 100%;
    display: block;
    margin: 20px auto;
    padding: 10px 60px;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: light;
    color: white;
    background: #242843;
    transform: scale(1);
    transition: transform 100ms ease-out;
    -webkit-appearance: none;
}

.submit:hover {
    transform: scale(1.05);
}

.submit:active {
    transform: scale(0.95);
}

.submit:disabled {
    background: #4d516b;
    color: #BBB;
    transform: scale(1) !important;
}

.submit:focus {
    outline: none;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section {
    padding: 10%;
}

.descriptionText {
    color: rgb(212, 211, 211);
    font-size: 14px;
    line-height: 1.5em;
}

.heading {
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.4em;
    margin-bottom: 25px;
}

.descriptionHeading {
    color: white;
}

.info {
    text-align: center;    
}

.img {
    width: 50px;
}

.infoText {
    color : gray;
}

.thankyou {
    margin : 30px 0 20px;
}

.paper {
    padding: 50px 30px;
    margin: auto;
    border-radius: '20px';
    max-width: 250px;
}