.container {
    position: fixed;
    right: 30px;
    top: 80px;
    text-align: right;
}

.option {
    display: block;
    margin: 5px;
    font-size: 0.9em;
    cursor: pointer;
    margin: 0;
    margin-block-end: 0;
    color: #555;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.option > p {
    margin: 5px;
}

.option:hover {
    color: black;
}

.active {
    font-weight: bold;
    color: black;
}