.button {
    padding: 10px;
    position: absolute;
    border-radius: 50%;
    display: inline-flex;
    transition: transform 100ms ease;
}

.button:hover {
    transform: scale(1.1);
}

.button:active {
    transform: scale(1);
}