.button {
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 30px;
  left: 30px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  transition: transform 200ms ease;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.2);
}

.button:active {
  transform: scale(1.1);
}
