.container {
    text-align: center;
}

.input {
    display: block;
    width: 250px;
    margin: auto;
}

.select {
    display: block;
    width: 100px;
    margin: auto;
}

.textArea {
    display: block;
    width: 250px;
    margin: auto;
}